# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.env.*
.venv/
venv/
env/

# Vector DB / embeddings
release_notes_store/
*.faiss
*.index

# Cache
.live_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/